# Set this variable to True to enable postgres
POSTGRES_ENABLED=True

PG_DB_NAME=<YOUR_DB_NAME>
PG_USERNAME=<YOUR_USERNAME>
PG_PASSWORD=<YOUR_PASSWORD>
PG_HOSTNAME=<YOUR_HOSTNAME>
PG_PORT=<YOUR_PORT>
