{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="row bg-light">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 mt-2">
    <h3 class="text-center text-primary mt-2">CHANGE PASSWORD</h3>
    <form method="post" action="." class="mb-2">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group text-center">
        <button type="submit" class="btn btn-light border border-primary rounded">
          <i class="fa-solid fa-paper-plane"></i></span> Submit</button>
        <a href="{% url 'user_profile' %}" class="btn btn-light border border-primary rounded">
          <i class="fa-solid fa-xmark"></i> Cancel</a>
      </div>
      <!-- <input type="submit" value="{% trans 'Submit' %}" /> -->
    </form>
  </div>
  <div class="col-lg-4"></div>
</div>
{% endblock %}
