{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="album py-2 bg-light">
        <div class="container">
          <div class = "row ">
            <div class = "col-lg-3"></div>
            <div class = "col-lg-6">
              <h2 class="text-center text-primary">CONTACT US</h2>
              <form method="post" novalidate>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="form-group text-center">
                      <button type="submit" class="btn btn-light border border-primary rounded">
                        <span class="glyphicon glyphicon-ok"></span> Submit
                      </button>
                      <a href="{% url 'accounts:home' %}" class="btn btn-light border border-primary rounded">Cancel</a>
                  </div>
              </form>
          </div>
          </div>
        </div>

          <div class = "col-lg-3"></div>
        </div>



{% endblock %}
