{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-5 text-center">
    <div class="container">
    <!-- row start -->
    <div class="row mt-5">
        <div class="col-lg-5 text-center">
            <h1 class="headertop">We Provide
                The Most Exciting 
                Startup Business Solution
            </h1>
            <p class="paragtop">
                Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium. Donec lobortis iaculis neque a laoreet.
            </p>

            <div class="mt-5">
                <button type="button" class="btn landingbtn {{turn_text_for_dark}}">Get A Free Quote</button>
            </div>
            <div class="social-wrapper mt-3">
                <a href="#" type="button" class="btn socialbtn {{turn_text_for_dark}}"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" type="button" class="btn socialbtn ml-3 mr-3 {{turn_text_for_dark}}"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" type="button" class="btn socialbtn {{turn_text_for_dark}}"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-7 text-center"> <img class="imgstack mx-auto" src="static/image/stacks.png"/> </div>
    </div>

    <!-- row end -->

    <div class="row landingrow2">
        <div class="col-lg-4 col-sm-12 col-md-4 row2col">
            <div class="mb-3 spanner"><span>01</span></div>            
            <h2>Consumer Satisfaction</h2>
            <li class="dividerian"></li>
            <p>Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium neque a laoreet.</p>
        </div>

        <div class="col-lg-4 col-sm-12 col-md-4 row2col">
            <div class="mb-3 spanner"><span>02</span></div>
            <h2>Unlimited Ideas</h2>
            <li class="dividerian"></li>
            <p>Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium neque a laoreet.</p>
        </div>

        <div class="col-lg-4 col-sm-12 col-md-4 row2col">
            <div class="mb-3 spanner"><span>03</span></div>
            <h2>Business Planning</h2>
            <li class="dividerian"></li>
            <p>Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium neque a laoreet.</p>
        </div>
    </div>

    <div class="row djflask djflask-top-margin">
        <div class="col-lg-5 col-sm-12 col-12 order-last order-xs-last order-md-first order-lg-first imgcenter mt-5"><img src="static/image/itsolutions.png"/> </div>
        <div class="col-lg-7 col-sm-12 col-12 centro">
            <div class="row">
                <h2 class="it-solutions">Your Daily Dose of Reliable I.T. Solutions For Your Business</h2>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <p class="itdesc">LogicMorph is a rising superstar in creating web technologies for companies big or small. We serve all types of customers/clients, from freelance to corporate agencies all the way up to large companies in the world. </p>
                    <p class="itdesc">Loaded with a powerful team collaboration and client management tools, LogicMorph enables business owners/enterprise big or small to solely focus on what they're doing, to run their company. Every product solution we create is ensured to be optimized for lightning fast performance and secured databases. </p>
                </div>
                <div class="col-lg-6 col-sm-12 imgmession">
                    <img src="static/image/missionicon.png" />
                    <h6>Our Mission</h6>
                    <p class="para">To Bring inspiration and innovation to every human being in this big blue planet.</p>
                </div>    
            </div>
        </div>
    </div>

    <div class="row techrowtools">
        <div class="col-lg-12 col-sm-12 col-md-12 centro">
            <h2 class="techno {{turn_text_for_dark}}">Technologies & Tools We Use</h2>
        </div>    
    </div>

    <div class="row techrow">
        <div class="col-lg-6 col-sm-12 col-12 stacks2"><img src="static/image/stacks2.png"/></div>
        <div class="col-lg-6 col-sm-12 col-12">
            <div class="stacks-backend">
                <h3>Our Standard Backend Development</h3>
                <div class="stack-container">
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>Python</span></div> 
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>Django Framework</span></div> 
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>NodeJS</span></div>
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>Restful APIs (Django Rest)</span></div>
                </div>
            </div>
        </div>
    </div>  

    <div class="row techrow">
        <div class="col-lg-6 ">
            <div class="stacks-backend-left">
                <h3>Our Standard Front End Development</h3>
                <div class="stack-container">
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>VueJs</span></div> 
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>ReactJs</span></div> 
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>HTML5/CSS</span></div>
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>Vanilla Javascript</span></div>
                    <div class="stacks-icon-name"><img src="static/image/stacksdeficon.png"/> <span>JQuery</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12 order-first order-xs-first centro order-md-last order-lg-last">
            <img class="stackfront" src="static/image/stacksfront.png"/>
        </div>
    </div> 

    <div class="row techrow">
        <div class="col-lg-6 stacks2 centro"><img src="static/image/awsheroku.png"/></div>
        <div class="col-lg-6 col-sm-12 col-12">
            <div class="stacks-backend-2">
                <h3>DevOps Operation</h3>
                <div class="stack-container">
                    <div class="stacks-icon-name-2"><img src="static/image/stacksdeficon.png"/> <span>AWS</span></div> 
                    <div class="stacks-icon-name-2"><img src="static/image/stacksdeficon.png"/> <span>Heroku</span></div>
                </div> 
            </div>
        </div>
    </div> 

    <div class="row techrow">
        <div class="col-lg-6  col-sm-12 col-12">
            <div class="stacks-backend-left-2">
                <h3>UI / UX </h3>
                <div class="stack-container">
                    <div class="stacks-icon-name-2"><img src="static/image/uiux.png"/> <span>VueJs</span></div> 
                    <div class="stacks-icon-name-2"><img src="static/image/uiux.png"/> <span>ReactJs</span></div> 
            </div>
        </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12 order-first order-xs-first centro order-md-last order-lg-last stacks2-right">
            <img src="static/image/xd.png"/>
        </div>
    </div> 
    </div>

{% include 'main/carousel.html' %} 
    <div class="row">
        <div class="col-lg-12">
            <div class="readmore-holder">
                <div class="readmore-carousel">     
                    <a href="">Read More</a>   
                </div>
            </div>
        
            <div class="row itsols">            
                <div class="col-lg-12 itsolssub">
                    <div class="row itsolssub-row">
                        <div class="col-lg-4 col-sm-12 col-12 colfour">
                            <h2 class="{{turn_text_for_dark}}">I.T. Solutions That Saves Your Time!</h2>
                            <p class="{{turn_text_for_dark}}">Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium. Donec lobortis iaculis neque a laoreet.</p>
                            <button type="button" class="btn {{SAP_btn_color}} rounded-pill">Schedule An Appointment</button>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-12 margintop-pricing colfourcenter">
                            <button class="btn btncolfour"> <img src="static/image/dollar.png"/></button>
                            <h6 class="{{turn_text_for_dark}}">Transparent Pricing</h6>
                            <p class="{{turn_text_for_dark}}">Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium.</p>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-12 margintop-delivery colfourcenter">
                            <button class="btn btncolfour"> <img src="static/image/clock.png"/></button>
                            <h6 class="{{turn_text_for_dark}}">On-Time Delivery</h6>
                            <p class="{{turn_text_for_dark}}">Pellentesque vehicula tempor dictum. Aliquam pellentesque interdum mi imperdiet pretium.</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="contactus {{turn_text_for_dark}}">Contact Us</div>
                    <p class="parag {{turn_text_for_dark}}">If you have any questions or queries, a member from our team will always be happy to help. Feel free to contact us and we will be sure to get back to you as soon as possible. </p>
                    <div class="text-center mt-5">
                        <a href="{% url 'contact_us' %}" class="btn rounded-pill {{contact_us_now}}"><h6>Contact Us Now</h6></a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>
{% endblock %}
