{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<div class="album bg-light">
    <div class="container-fluid pt-2">
      
      <!-- <div class="card text-center"> -->
      <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <h2 class="text-center text-primary">REGISTRATION FORM</h2>
          <form method="post"  action="">
              {% csrf_token %}

              <!-- {{ regForm|crispy }} --> 
              <label>Email</label>
              <input type="text"  value="{{ leadmail }} " class="form-control mb-1" readonly>
              {{ regForm.email|as_crispy_field }}
              {{ regForm.username|as_crispy_field }}
              {{ regForm.first_name|as_crispy_field }}
              <div class="form-check mb-1">
                <input class="form-check-input " name = "client_enabled" type="checkbox" value="" id="client_enabled" checked >
                <label class="form-check-label " for="flexCheckChecked">
                  Enabled client profile
                </label>
              </div>
              {{ regForm.last_name|as_crispy_field }}
              {{ regForm.password1|as_crispy_field }}
              {{ regForm.password2|as_crispy_field }}
              
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-light border border-primary rounded">
                    <i class="fa-solid fa-paper-plane"></i></span> Submit
                  </button>
                  <a href="{% url 'accounts:login' %}" class="btn btn-light border border-primary rounded"><i class="fa-solid fa-xmark"></i> Cancel</a>
              </div>
          </form>
        </div>
        <div class="col-lg-4"></div>
      </div>
    <!-- </div> -->
    </div>
</div>



{% endblock %}>
</div>
