{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col-lg-2"></div>
           <div class="col-lg-8">
               <div>
                   <h2 class="pt-5">{{ poll.title }}</h2>
                   <small class="text-muted">Author: {{poll.created_by}}</small>
                  <p><medium class="text-muted">{{poll.description}}</medium> </p>
               </div>
            </div>
       <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}
