{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<div class="album py-1 bg-light">
    <div class="container">
      <div class = "row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h2 class="text-center text-primary">EDIT POST</h2>
          <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Update
                  </button>
                  <a href="{% url 'main' %}" class="btn btn-danger">Cancel</a>
              </div>
          </form>
        <div class="col-lg-3"></div>
      </div>
    </div>
</div>



{% endblock %}
