{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'main/inc/leftnav.html' %} 
<div class="album py-1">
    <div class="container">
      <div class = "row ">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
          <h2 class="text-center text-primary">CREATE PROJECT</h2>
          <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-sm btn-outline-primary" style="width: 90px;">
                    <i class="fa-regular fa-floppy-disk"></i></span> Save
                  </button>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'list_project' %}" class="btn btn-sm btn-outline-primary" style="width: 90px;"><i class="fa-solid fa-xmark"></i> Cancel</a>
                  {% else %}
                  <a href="{% url 'list_client_project' %}" class="btn btn-sm btn-outline-primary" style="width: 90px;"><i class="fa-solid fa-xmark"></i> Cancel</a>
                  {% endif %}
                </div>
          </form>
        </div>
        <div class = "col-lg-3"></div>
    </div>
</div>
{% endblock %}
