{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'main/inc/leftnav.html' %} 
    <div class="album py-2 bg-light">
        <div class="container">
          <div class = "row ">
            <div class = "col-lg-1"></div>
            <div class = "col-lg-10">
              <h2 class="text-center text-primary">Account</h2>

              
                <div class="card box-shadow rounded-top text-center bg-primary">
                    <div class="text-white  text-center align-middle">
                        <img src="/portal/media/{{profileinfo.avatar}}" alt="" style="width: 85px; height: 85px;" class=" rounded-circle mt-2"><br/>
                        <p class="mt-1">{{userinfo.first_name}} {{userinfo.last_name}} </p>
                    </div>                   
                </div>

                <div class="card box-shadow rounded-top text-center mt-2">
                    
                    <div class = "card-body">
                        <!-- <h5 class=" text-primary">User Information</h5> -->
                        <div class="row" >
                            <div class = "col-lg-3"></div>
                            <div class = "col-lg-6" style="text-align: left;">
                                <form method="post"  action="" enctype='multipart/form-data'>
                                    {% csrf_token %}               
                                        {{userform|crispy}}
                                        {{profileform|crispy}}                                       
                                   
                                </form>

                                    <div class="text-center">                                        
                                        <a href="{% url 'current_users'%}" class="btn btn-light btn-outline-primary" style="width:180px;">
                                        <i class="fa-regular fa-id-badge"></i> Back</a>
                                    </div>
                                    
                                
                            </div>
                            <div class = "col-lg-3"></div>
                        </div>
                    </div>
                </div>

               
                
          </div>
          </div>
        </div>

          <div class = "col-lg-1"></div>
        </div>

{% endblock %}
