.page-item {
   margin: 3px;
   width: 120px;
   text-align: center;
   /* border-radius: 50px !important; */
}

.page-navi-center {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
.undernav-border-bottom{
   border-bottom: 1px solid rgba(0, 0, 0, .1);
   margin-top: -5px;
   /* border-width: thin; */
}

/* img lead */

.in-card {
   height: 140px;
   margin-top: 15px;
}

.in-card h4{ 
   margin-bottom: 20px;
   }


.in-card p{
   margin-top: 10px;
}
.view-lead-del .btn{
   align-items: baseline;
   justify-content: flex-end;
   bottom: -30px;
   /* position: static; */
   justify-self: first baseline;
   /* font-size: large; */
}

.navbar-brand img{
   margin-top: -9px;

}

.container-fluid h2 {
   margin-bottom: 30px;
}

.card-custom-margin {
   margin-top: 50px !important;
   margin-left: 10px !important;
   margin-right: 10px !important;
   border-radius: 20px;
   width: 300px; 
   height: 280px ;
   background-color: rgba(255, 255, 255, 1);
   overflow:hidden;
   /* overflow: initial; */
   
   /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px; */
   box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
   
}



/* .card img {
   height: 60px;
   width: 60px; */
   /* margin-top: -30px; */
   /* margin-top: 5px;
   align-self: center;
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
} */

.custombody{
   overflow: hidden !important;
}

.custombody span {
   font-size: 12px;
   top: 0px !important;
   right: -30px;
   height: 60px !important;
   width: 100px !important;
   display: block;
   position: absolute;
   border: 1px solid #0275d8 ;
   background-color: blue;
   border-radius: 30px;
   /* left: -1px; */
   overflow: hidden !important;
   /* overflow-inline: inherit; */
   /* overflow: inherit !important; */
   
   transform: rotate(45deg);
}

.badge-date {
   font-size: 12px;
   top: 0px !important;
   height: 30px !important;
   width: 110px !important;
   display: block;
   right: 48px;
   color: white;
   position: absolute;
   border: 1px solid #0275d8 ;
   background-color: blue;
   border-radius: 15px;
   overflow: hidden !important;
   margin-top: -3px;
}

.badge-date p{ 
   margin-top: 5px;
}

.custombody span p{
   margin-top: 30px;
   text-align: center;
   margin-left: -5px;
   font-size: 13px;
   color: white;
 }

.turn-text-for-dark {
   color: white !important;
}

.lm-logotext {
   color: black !important;
}

.lm-logotext-dark {
   color: white !important;
}

.navbar h4{
   color: gray;
   font-size: 30px;
}

/* .nav-item-font */
#nav-item-font-light a {
   font-family: 'Segoe UI';      
   color: black !important;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   line-height: 19px;
   margin-left: 20px;
}

#nav-item-font-light a:hover { 
   color: #007bff !important;
}


#nav-item-font-dark a{
   font-family: 'Segoe UI'; 
   font-style: normal;   
   color: white !important;
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   /* line-height: 19px;
   margin-left: 20px; */
}

#nav-item-font-dark a:hover { 
   color: #007bff !important;
}
/* .nav-item-font */

/* #foot-social-light a {
   color: black !important;
}

#foot-social-dark a {
   color: white !important;
} */


.itsols{   
   max-width: 80%;
   margin:0 auto;  
}

.itsolssub {
   
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url('../image/eb081e-20220829-retotech-webp1400.png');
   /* background-color: ; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   height: 509px;
   border-radius: 20px;
   margin-top: 50px !important;
   /* max-width: 80%;
   margin:0 auto;   */
   overflow:hidden ;
} 

.colfour {
   color: white;
   /* align-items: center; */
   display: inline;
   align-items: center;
   margin-top: 100px;   
   /* margin-left: 10px; */
   /* text-align: center;
   align-items: center; */
}

.colfour p{
   margin-top: 30px;

}
.colfour button{
   margin-top: 60px;
   height: 51px;

}

.btncolfour {
   height: 48px;
   width: 48px;
   background: #D9D9D9;
   border-radius: 8px;
   
}

.colfourcenter {
   text-align: center;
   align-items: center;
   margin-top: 200px;   
   color: white;
}

.colfourcenter img {
   text-align: center;
   align-items: center;
   margin-left: -5px;
}

.colfourcenter h6 {
   /* h6 */
   font-family: 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   margin-top: 35px;
   margin-bottom: 30px;
}

.contactus {
   font-family: 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   text-align: center;
   color: #292A3C;
   margin-top: 80px;
   margin-bottom: 40px ;
}


/* contactusnow */
.contactusnow{
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #FFFFFF;
   width: 216px;
   height: 51px;
   /* #4649FF */
   background: #4649FF;
   /* shadow_002 */
   box-shadow: 0px 4px 23px -5px #3C3DA5;
   border-radius: 100px;
   text-align: center;
   align-items: center;
   margin-bottom: 60px;
}

.contactusnow h6{
   margin-top: 10px;
}

/* ---dark--- */
.contactusnow-dark{
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #FFFFFF;
   width: 216px;
   height: 51px;
   background: #84D934;
   /* shadow_003 */   
   box-shadow: 0px 7px 30px -5px #519F08;
   border-radius: 100px;
   text-align: center;
   align-items: center;
}

.contactusnow-dark h6{
   margin-top: 10px;
}


/* contactusnow */

.parag{
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   text-align: center;
   max-width: 50%;
   margin: 0 auto;
}

/* .pydjang {
   margin-top: 60px;
   max-width: 80%;
} */

.centro{
   display: flex;
   justify-content: center;
}

.it-solutions {   
   
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px; 
   width: 478px;
   /* height: 82px; */
   color: #292A3C;
   display: flex;
   justify-content: center;
}

.imgcenter {
   display: flex;
   justify-content: center;
}
.itdesc{   
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   width: 90%;
   line-height: 25px;
   color: #292A3C;
   opacity: 0.75;
}
.imgmession img{ 
   height: 40px;
   width: 40px;   
   margin-bottom: 10px;
}

.imgmession h6{ 
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #292A3C;
}

.para{ 
   font-family: 'Noto Sans';
   font-style: normal;
   width: 257px;
   height: 71px;
   /* width: 90%; */
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   color: #292A3C;
   opacity: 0.75;
}

.it-image {
   margin-left: -150px;
}

.pydjang p {
width: 439px;
height: 127px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #292A3C;
text-align:justify ;
}

.djflask2{
   max-width: 70%;
   margin:0 auto;   
   margin-bottom: 50px;
}
.djflask-top-margin {
   margin-top: 100px !important;
   overflow: hidden;
}

.stacks-backend {
   box-sizing: border-box;
   width: 380px;
   height: 298px;
   background: #191926;
   border-left: 3px solid #7C1DC9;
   box-shadow: 0px 7px 23px -5px #CBCBCB;
   border-radius: 7px;
   margin-left: 30px;
   float: right;
}

.stacks-backend-2 {
   box-sizing: border-box;
   width: 380px;
   height: 218px;
   background: #191926;
   border-left: 3px solid #7C1DC9;
   box-shadow: 0px 7px 23px -5px #CBCBCB;
   border-radius: 7px;
   margin-left: 30px;
   float: right;
}


.stacks-icon-name-2 {
   margin-top: 5px;
}

.stacks-backend-2 h3{
   width: 359px;
   height: 66px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #ffffff;
   padding-top: 50px;
   margin-left: 40px;
}



.stacks-icon-name-2 span{
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 28px;
   color: #B3B5C5;
   opacity: 0.75; 
   margin-left: 10px;
}



.stacks-backend h3{
   width: 359px;
   height: 66px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #ffffff;
   padding-top: 40px;
   margin-left: 40px;
}

.stacks-backend-left {
   box-sizing: border-box;
   width: 380px;
   height: 320px;
   background: #191926;
   border-right: 3px solid #7C1DC9;
   box-shadow: 0px 7px 23px -5px #CBCBCB;
   border-radius: 7px;
   /* margin-left: 30px; */
   float: right;
}
.stacks-backend-left h3{
   text-align: center;
   width: 359px;
   height: 66px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #FFFFFF;
   padding-top: 35px;
   margin-left: 40px;
}

.stacks-backend-left-2 {
   box-sizing: border-box;
   width: 380px;
   height: 218px;
   background: #191926;
   border-right: 3px solid #7C1DC9;
   box-shadow: 0px 7px 23px -5px #CBCBCB;
   border-radius: 7px;
   /* margin-left: 30px; */
   float: right;
}
.stacks-backend-left-2 h3{
   width: 359px;
   height: 66px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #FFFFFF;
   padding-top: 35px;
   margin-left: 40px;
}



.stacks-icon-name {
   margin-top: 8px;
}

.techrow {
   width: 100%;
   margin-bottom: 100px;
}


.stacks-icon-name span{
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 28px;
   color: #B3B5C5;
   opacity: 0.75; 
   margin-left: 10px;
}

.stacks-icon-name img{
   
}
.stack-container {
   padding-top: 40px;
   margin-left: 40px;
}

.stacks2 {
   align-self: center;
   text-align:right ;
}

.stacks2-right {
   /* text-align:left ; */
   /* float: right; */
   text-align: center;
   /* align-items: center; */
   align-self: center;
}
.techno {   
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px; 
   width: 427px;
   height: 41px;
   /* width: 478px;
   height: 82px; */
   color: #292A3C !important;
   display: flex;
   justify-content: center;
   /* text-align: center !important; */
   margin-bottom: 70px !important;
}

.djflask{
   max-width: 80%;
   margin:0 auto;   
   margin-bottom: 50px;
}



.djflask img{
   /* margin-left: -50px; */
   left: 0;
}
.techtools {
margin-top: 80px;
margin-bottom: 70px;
/* /* width: 418px; */
/* height: 41px;  */
/* h2 */
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
/* text-align: center; */
/* identical to box height */
/* Darc_01 */
color: #292A3C;

}



.dividerian {
   width: 85%;
   height: 5px !important;
   background-color:#760B97;
   /* background-color: #3C3DA5; */
   border-radius: 2px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.social-wrapper{
   /* position: absolute; */
   width: 165px;
   height: 51px;
   left: 0;
   top: 300px;
   }

.landingbtn {
   /* position: absolute; */
   width: 165px;
   height: 51px;
   background: #4649FF;
   box-shadow: 0px 4px 23px -5px #3C3DA5;
   border-radius: 100px;
   /* background: #4649FF;
   box-shadow: 0px 4px 23px -5px #3C3DA5;
   border-radius: 100px;    */
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
      }

      
.socialbtn {
   width: 22px;
   height: 29px;
   font-family: 'Font Awesome 5 Brands', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 29px;
   color: #4649FF;
   margin-top: 50px;
   
}

.landingheader {
   width: 551px;
   height: 177px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 43px;
   line-height: 59px;
   color: #292A3C;
   text-align: left;
   margin-top: -150px;
}

.landingparag {
   width: 336px;
   height: 60px;
   left: 182px;
   top: 374px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   color: #292A3C;
   }



.navbar {
   max-width: 80% !important;
   margin:0 auto;
}

.landingrow{
   /* background-image: url('../image/stacks.png'); */
   /* background-repeat: no-repeat; */
   /* background-attachment: fixed; */
   /* background-position: center right; */
   background-position:right 4em top 1px;
   padding-top: 280px;
   padding-bottom: 100px;
   
}


.inside-main-row {
   max-width: 80%;
   margin:0 auto;
   /* margin-left: 0 auto;
   margin-right: 0 auto; */
}

.landingrow2 {
   /* overflow: auto; */
   /* position: absolute; */
   /* width: 1076px;
   height: 301px; */
   background: #191926;
   /* left: 0; */
   /* top: 350px; */
   border-radius: 13px;
   height: 301px;
   max-width: 80%;
   width: 80%;
   margin:0 auto;
   /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.row2col {
   overflow: hidden;
   /* overflow: scroll; */
   /* max-width: 33.33%; */
   /* width: 386px; */
   border-radius: 13px;
   background: #191926;
   /* height: 250px; */
   margin-top: 20px;
}

.landingrow2 .row2col span {
   width: 33px;
   height: 30px;
   float: right;
   font-family: 'Proxima Nova';                                                
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   line-height: 30px;
   color: #B3B5C5;
   }

.spanner{
   margin-top: 20px;
   width: 85%;
}

.landingrow2 .row2col h2 {
   width: 178px;
   height: 82px;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 40.86px;
   color: #E1E3F3;

   }

.landingrow2 .row2col p {
   width: 271px;
   height: 75px;
   /* paragraph */
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   /* or 179% */
   color: #E1E3F3;
   }

#footerwrapper {
   background-image:url('../image/footerbglight.png');
   background-repeat: no-repeat;
   background-position: top center;
   background-size: 100%;
   height: 334px;
   width: 100%;
   /* margin-top: -80px; */
   
   }

.footer-separator {
   border-bottom: 1px solid rgba(181, 181, 181, 0.5);
   width: 80%;
   margin: 0 auto;
   overflow:hidden;
}

.footer-separator-wrapper {
   margin-bottom: -10px;
}

#lm-footer{
   max-width: 80%;
   margin:0 auto;
}

#lm-footer span{
   color: black;
}

.imgspan {
   margin-top: 50px;
}

/* Footer link Start */

.footerlink {
   margin-top: 20px;
}
.footerlink a {
   margin-left: 20px;
}
.footerlink a:link{
   color: black;
   background-color: transparent;
   text-decoration: none;

}

.footerlink a:hover {
   color: #4649FF;
   background-color: transparent;
   text-decoration: underline;
 }
 /* Footer link end */

 /* Footer Social Start */
.footer-social {
   margin-top: 20px;
}
.footer-social a {
   margin-left: 20px;   
   font-size: 27px;
}
.footer-social a:link{
   color: black;
   background-color: transparent;
   text-decoration: none;
}
.footer-social a:hover {
   color: #4649FF;
   background-color: transparent;
   text-decoration: underline;
 }
 /* ------Dark------- */

 .footer-social-dark {
   margin-top: 20px;
}
.footer-social-dark a {
   margin-left: 20px;   
   font-size: 27px;
}
.footer-social-dark a:link{
   color: white;
   background-color: transparent;
   text-decoration: none;
}
.footer-social-dark a:hover {
   color: #4649FF;
   background-color: transparent;
   text-decoration: underline;
 }
 /* Footer Social end */

 .footercopyrights {
   max-width: 60%;
   margin: 0 auto;
 }

 .footercopyrights p{
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   text-align: center;
 }

#is_light{
   /* background-color: #191926; */
   /* background-image: linear-gradient(rgba(179, 181, 197, 0.3), rgba(179, 181, 197, 0.3)), url('../image/lmbg.png'); */
   background-image:url('../image/bglight3.png');
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   background-color: #e0e0e8;
   
   background-size: 100%;
   margin:0 auto;
   background-position: top;
   min-width: 576px;
   /* min-height: 100%; */

   /* // This 👇 is to offset for the footer height */
   /* padding-bottom: 15rem; */
}

#is_dark{
   /* background-color: #191926; */
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/lmbgdark.png'); */
   background-image:url('../image/lmbgdark2.png');
   background-repeat: no-repeat;
   /* min-height: 100%; */
   /* min-width: 768px; */
   /* max-width: 100%; */
   min-width: 576px;
   background-size: 100%;
   margin:0 auto;
   background-position: top;
   /* background-attachment: fixed; */
}


.navbar-nav {
   text-align: right;
}

.navbar .collapse .navbar-nav li a {
   color: black;
}

.navbar .collapse .navbar-nav li a:hover {
   color: #0275d8;
}
/* .wrapper .header {
    z-index: 1;
    background: #0275d8 ;
    position: fixed;
    width: 260px;
    height: 70px;
    display: flex;
    top:0;
}

.wrapper .header .header-menu{ 
    width: calc(100% - 0% );
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.wrapper .header .header-menu .title{ 
    color: #ffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper .header .header-menu .title span{
    color: #4ccee8;
 }

 .wrapper .header .header-menu .sidebar-btn{
    color: #ffff;
    position: absolute;
    margin-left: 210px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
 }

 .wrapper .header .header-menu .sidebar-btn:hover{ 
    color: #4ccee8;
 }

 .wrapper .header .header-menu ul{ 
    display: flex;
 }

 .wrapper .header .header-menu ul li a{ 
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: color;

 }


 .wrapper .header .header-menu ul li a:hover{ 
    background: #4ccee8;
    color: #fff;
 } */

 .wrapper .sidebar {
    z-index: 1;
    background: #2f323a;
    position: fixed;
    top: 78px;
    width: 250px;
    height: calc(100%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto ;

 }

 .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
 }


 .wrapper .sidebar .sidebar-menu .profile img{
    margin: 10px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;

 }

 .wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 300;
    margin-bottom: 10px;
 }

 .wrapper .sidebar .sidebar-menu .item {
    width: 250px;
    overflow: hidden;
 }


 .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 15px 15px;
    transition: 0.3s;
    transition-property: color;
 }

 

 .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4ccee8;
 }


 .wrapper .sidebar .sidebar-menu .item .menu-btn .dropdown{
    float: right;
    font-size: 12px;
    margin-top: 3px;
 }


 .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498d8;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
    
 }

 .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    /* white-space: nowrap; */
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8fc5e9;
    transition: 0.3s;
    transition-property: background;
 }

 /* .wrapper .sidebar .sidebar-menu .item .menubars{
    display: none;
 } */

 .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #4ccee8;
 }


 .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
 }

 .wrapper .sidebar .sidebar-toggle{
    color: #ffff;
    position: absolute;
    margin-left: 210px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
 }

 .wrapper .sidebar .sidebar-toggle:hover{
    color: #4ccee8;
 }

 .wrapper.collapser  .header .sidebar-btn {
    margin-left: 0px;
    transition: 0.3s;
 }

 .wrapper.collapser .sidebar {
    width: 70px;
 }

 .wrapper.collapser .header {
    width: 70px;
 }

 .wrapper.collapser .sidebar .iconbars{
    display:inline ;
 }
 .wrapper.collapser .header .header-menu .title,
 .wrapper.collapser .sidebar .profile img,
 .wrapper.collapser .sidebar .profile p,
 .wrapper.collapser .sidebar a span {
    display: none;
 }

 .wrapper.collapser .sidebar .sidebar-menu .item .menu-btn {
    font-size: 20px;
 }

 .wrapper.collapser .sidebar .sidebar-menu .item .sub-menu i {
    font-size: 18px;
    padding-left: 3px;
 }




 @media only screen and (max-width:769px) {

   .landingrow2 {
      background: transparent;
 }


   .dividerian { width: 100%; }

   .djflask-top-margin {
      margin-top: 500px !important;
   }

   .itdesc{   
      width: 100% !important;
   }

   .stacks-backend {
      margin-top: 30px;
      box-sizing: border-box;
      border-top: 10px solid;
      border-left: transparent;
      border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
   }

   .stacks-backend-left {
      border-top: 10px solid #7C1DC9;
      border-right: transparent;
      border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
   }

   .stacks-backend-2 {
      border-top: 10px solid #7C1DC9;
      border-left: transparent;
      border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
   }

   .stacks-backend-left-2 {
      border-top: 10px solid #7C1DC9;
      border-right: transparent;
      border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
      margin-top: 30px;
   }

   .stacks2 {
      align-self: center;
      text-align:right ;
   }

   .techno {   
      width: 342px;
      height: 33px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #292A3C;
      text-align: center;
}

.techrow .centro img {
   margin-top: -70px;
}

.techrow .stacks2 img{

   margin-left: -50px;
   margin-top: -40px;
   /* text-align: center !important; */

}

}