/* 769 */
@media only screen and (max-width:769px) {

   .techrowtools {
      margin-top: -60px !important;
   }

   .margintop-pricing {
      margin-top: 45px;
   }

   .margintop-delivery {
      margin-top: 40px;
      margin-bottom: 40px;
   }

   .colfourcenter p{
      width: 223px;
      height: 70px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10px;

   }

   .stacks2-right {
      margin-top: 60px !important;
      margin-left: auto;
      margin-right: auto;
   }

   .stacks-backend-left{
      float: none;
      margin: auto !important;
   }

   .stackfront{

      margin-top: 0px !important;
   }
   .itsolssub{
      height: auto;   
      background-size: cover;   
   }

   .colfour button{

      margin-top: -3px
   }

   .colfour h2 {

      width: 300px;
      height: 66px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #FFFFFF;

   }

   .colfour p {
      width: 328px;
      height: 78px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: #FFFFFF;
   }


    .stacks2 {
        text-align: center !important;
    }
    .imgstack{
        height: 300px !important;
        margin-top: 0px !important;
        margin-right: -130px !important;
    }   
     
   .landingrow2 {background: transparent;} 
   .dividerian { width: 100%; }
 
   .djflask-top-margin {
       margin-top: 500px !important;
    }
 
    .itdesc{   
       width: 100% !important;
    }
 
    .stacks-backend {
       margin-top: 30px;
       box-sizing: border-box;
       border-top: 10px solid;
       border-left: transparent;
       border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
       /* display: flex;
       justify-content: center;
       align-items: center; */
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
 
    .stacks-backend-left {
       border-top: 10px solid #7C1DC9;
       border-right: transparent;
       border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
    }
 
    .stacks-backend-2 {
       border-top: 10px solid #7C1DC9;
       border-left: transparent;
       border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
       float: none !important;
       margin: auto !important;

    }
 
    .stacks-backend-left-2 {
       border-top: 10px solid #7C1DC9;
       border-right: transparent;
       border-image: linear-gradient(to right,#1DB4C9,#7C1DC9)1 0 0 0;
       float: none !important;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
 
    .stacks2 {
       /* align-self: center;
       text-align:right ; */
       margin: auto;
    }
 
    .techno {   
       width: 342px;
       height: 33px;
       font-family: 'Noto Sans';
       font-style: normal;
       font-weight: 700;
       font-size: 24px;
       line-height: 33px;
       color: #292A3C;
       text-align: center;
 }
 
 .techrow .centro img {
    margin-top: -70px;
 }
 
 .techrow .stacks2 img{
 
    margin-left: -50px;
    margin-top: -40px;
    /* text-align: center !important; */
 
 }
 
 }
 
 

 /* 992px */
 @media only screen and (max-width:992px) {
 
    .landingrow2 .row2col span{
       font-size: 24px;
       margin-top: 5px;
    }
 
    .landingrow2 .row2col h2{
       line-height: 30px;
       font-size: 24px;
       text-align: left !important;
    }
 
 
    .landingrow2 .row2col p {
       /* height: auto !important; */
       line-height: 20px;
       width: 80%;
       text-align: left !important;
       }
 
       .dividerian {
          margin-top: -5px;
          margin-bottom: 20px;
       }
 }
 