{% load static %}

        <!-- <div class="jumbotron" style="margin-bottom: 0px;">
            <h1>Logic Morph</h1>
            <p>Mindset</p>
        </div> -->
        <!--  fixed-top  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>


            <!-- <div class="row"> -->
                <div class="collapse navbar-collapse" id ="collapse_target">
                    <!-- <div class="col-lg-3 "> -->
                        <a class="navbar-brand"><img src="{% static 'image/lm.png' %}"style="width: 50px; height: 50px;"></a>
                        <a href ="/" class = "align-middle"><span class="navbar-text">LogicMorph</span></a>
                    <!-- </div> -->
                    <!-- <div class="col-lg-9"> -->
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link"  href="#">Solutions</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">Our Stacks</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">Resources</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">About Us</a></li>
                                <a href="/contactus" class="nav-link btn btn-outline-secondary">Contact Us</a>
                                <li class="nav-item">
                                    {% if user.is_authenticated %}
                                        <a href="/accounts/logout" class="nav-link">Logout</a>
                                    {% else %}
                                        <a href="/accounts/login" class="nav-link">Login</a>
                                    {% endif %}
                                </li>

                    </ul>
                    <!-- </div> -->
                </div>
            <!-- </div> -->


    </nav>
