{% load static %}
        <!-- <div class="jumbotron" style="margin-bottom: 0px;">
            <h1>Logic Morph</h1>
            <p>Mindset</p>
        </div> -->
        <!--  fixed-top  -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"> -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"> -->
        <!-- Modal Start-->
        <div class="modal fade" id="confirm_logout" tabindex="-1" aria-labelledby="confirm_logoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="confirm_logouttLabel">Logic Morph</h5>
                        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 20px;"><i class="fa-regular fa-circle-xmark"></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"> <h1><i class="fa-solid fa-power-off text-danger"></i></h1> <medium>Confirm Logout?</medium></div>
                    </div>
                    <!-- <div class="modal-footer"> -->
                        <div class="text-center mb-4">                                                                    
                            <!-- Button trigger modal -->
                            <a href="{% url 'accounts:logout' %}" type="button" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-power-off"></i> Confirm</a>
                            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal"><i class="fa-solid fa-arrow-right-to-bracket"></i> Return</button>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    <!-- Modal End--> 
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"> -->
        <button 
        class="navbar-toggler" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapse_target"
        aria-controls="toggleMobileMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <!-- <span class="navbar-toggler-icon"></span> -->
        <h4>
            <i class="fa-solid fa-bars"></i>
        </h4>
        </button>

            <!-- <div class="row"> -->
                <div class="collapse navbar-collapse  border-bottom  border-secondary" id ="collapse_target">
                    <!-- <div class="col-lg-3 "> -->    
                        <div class="navbar-collapse">                 
                            <a class="navbar-brand"><img src="{% static 'image/lmlt.png' %}"style="width: 50px; height: 50px;"></a>
                            <a href ="/" class = "align-middle"><span class="navbar-text text-dark">LogicMorph</span></a>
                        </div>   
                    <!-- </div> -->
                    <!-- <div class="col-lg-9"> -->                        
                        <!-- <ul class="navbar-nav ml-auto"> -->
                        <ul class="navbar-nav text-left">
                                <li class="nav-item"><a class="nav-link"  href="#">Solutions</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">Our Stacks</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">Resources</a></li>
                                <li class="nav-item"><a class="nav-link"  href="#">About Us</a></li>
                                <!-- <li><a href="{% url 'contact_us' %}" class="nav-link btn btn-outline-secondary"><i class="fa-regular fa-envelope"></i> Contact Us</a></li> -->
                                <li class="nav-item dropdown ">
                                    {% if user.is_authenticated %}

                                    <a class="navbar-brand ml-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                        <!-- <img src = "media/{{profile.avatar}" alt="profileavatar" height="35" class="rounded-circle"> -->
                                        <img src="/portal/media/{{userprofile.avatar}}"alt="profileavatar" height="35" width="35"  class="rounded-circle">
                                    </a>

                                        <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="navbarDropdown">
                                            
                                            <div class="dropdown-item">
                                                <div style="font-size: 15px; text-align: center;" >{{user.first_name}} {{user.last_name}}</div>
                                                <div class="text-muted text-center" style="font-size: 10px;">{{user.email}}</div>  
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <a href="{% url 'user_profile' %}" class="dropdown-item">
                                                Profile
                                            </a>

                                            {% if request.user.is_superuser %}
                                            <a href="{% url 'current_users' %}" class="dropdown-item">
                                               Users
                                            </a>
                                            {% endif %}

                                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirm_logout" role="button" aria-pressed="true">
                                                <i class="fa-solid fa-power-off"></i> Logout
                                            </button>
                                            <!-- <div class="dropdown-divider"></div> --> 
                                            
                                        </div>
                                    {% endif %}
                                </li>

                        </ul>
                    <!-- </div> -->
                </div>
            <!-- </div> -->


    </nav>
