{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Logic Morph</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'image/lm-logo100.png' %}"/>
  
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/noto-sans" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans" rel="stylesheet">
  <!-- Custom styles for this template-->
    
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Date Time Picker CSS -->
  <link rel="stylesheet" href="{% static 'dashboard/date-time-phone/jquery-ui.css' %}">
  <link rel='stylesheet' href="{% static 'dashboard/date-time-phone/jquery-ui-timepicker-addon.css' %}" />

  <!-- Date Time Picker CSS -->

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/landinglight.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-extend.css' %}">

</head>
<!-- Modal Start-->
<div class="modal fade" id="confirm_logout" tabindex="-1" aria-labelledby="confirm_logoutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="confirm_logouttLabel">Logic Morph</h5>
                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 20px;"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            <div class="modal-body">
                <div class="text-center"> <h1><i class="fa-solid fa-power-off text-danger"></i></h1> <medium>Confirm Logout?</medium></div>
            </div>
            <!-- <div class="modal-footer"> -->
                <div class="text-center mb-4">                                                                    
                    <!-- Button trigger modal -->
                    <a href="{% url 'accounts:logout' %}" type="button" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-power-off"></i> Confirm</a>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal"><i class="fa-solid fa-arrow-right-to-bracket"></i> Return</button>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- Modal End--> 
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion fixed-top"  id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <img class="rotate-n-15" src="{% static 'image/lmlt.png' %}"style="height: 50px;">
        </div>
        <div class="sidebar-brand-text mx-1">Logic Morph</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <p class="text-center text-white font-weight-bold">{{user.first_name}} {{user.last_name}}</p>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {{dash_is_active}} ">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fa-brands fa-dashcube"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Companies -->
      <li class="nav-item {{user_is_active}} ">
        <a class="nav-link" href="{% url 'user_profile' %}">
          <i class="fa-solid fa-user-tie"></i>
          <span> Account Settings</span></a>
      </li>

      <!-- Nav Item - Contact -->
      <li class="nav-item {{project_is_active}} ">
        {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'list_project' %}">
        {% else %}
            <a class="nav-link" href="{% url 'list_client_project' %}">
        {% endif %}
          <i class="fa-solid fa-diagram-project"></i>
          <span> Projects</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-gear"></i>
          <span> Settings</span></a>
      </li>
      {% if user.is_superuser %}
        <!-- Nav Item - Change Password -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-lock"></i>
            <span> Admin Only</span></a>
        </li>

        <!-- Nav Item - Logout -->
        <li class="nav-item {{lead_is_active}} ">
          <a class="nav-link" href="{% url 'lead_mail_lists' %}">
            <i class="fa-brands fa-salesforce"></i>
            <span> Leads</span></a>
        </li>
      {% endif %}

      <li class="nav-item {{chart_is_active}} ">
        <a class="nav-link" href="{% url 'chart' %}">
          <i class="fa-solid fa-chart-line"></i>
          <span> Chart</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- <a class="nav-link"  href="#" >
                                <span class="mr-2 d-none d-lg-inline small">{{user.first_name}} {{user.last_name}}</span> -->
                                <!-- <img class="img-profile rounded-circle"
                                    src="/portal/media/{{userprofile.avatar}}"> -->
                        <!-- </a> -->

                            {% if user.is_authenticated %}

                                    <a class="navbar-brand navbar-brand-img  ml-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                        <!-- <img src = "media/{{profile.avatar}" alt="profileavatar" height="35" class="rounded-circle"> -->
                                        <img src="/portal/media/{{userprofile.avatar}}"alt="profileavatar" height="35" width="35"  class="rounded-circle border border-3 border-primary">
                                    </a>

                                        <div class="dropdown-menu dropdown-menu-right mr-2" aria-labelledby="navbarDropdown">
                                            
                                            <div class="dropdown-item">
                                                <div style="font-size: 15px; text-align: center;" >{{user.first_name}} {{user.last_name}}</div>
                                                <div class="text-muted text-center" style="font-size: 12px;">{{user.email}}</div>  
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <a href="{% url 'user_profile' %}" class="dropdown-item">
                                                Profile
                                            </a>

                                            {% if request.user.is_superuser %}
                                            <a href="{% url 'current_users' %}" class="dropdown-item">
                                               Users
                                            </a>
                                            {% endif %}

                                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirm_logout" role="button" aria-pressed="true">
                                                <i class="fa-solid fa-power-off"></i> Logout
                                            </button>
                                            <!-- <div class="dropdown-divider"></div> --> 
                                            
                                        </div>
                                    {% endif %}
                        </li>

                    </ul>

    </nav>
    <!-- End of Topbar -->

      <!-- Main Content -->
      <div id="content">

        {% include 'dashboard/messages.html' %}

        {% block content %}  {% endblock content %}
        
      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  {% block script %}  {% endblock script %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    <script src = "{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src = "{% static 'js/custom.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  
  
  

  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>

  <!-- Date Time Picker JS -->
  <script src="{% static 'dashboard/date-time-phone/jquery-ui.js' %}" ></script>
  <script src="{% static 'dashboard/date-time-phone/jquery-ui-timepicker-addon.js' %}"></script> 

  <script>
    $( function() {
        // $( "#id_birth_date" ).datetimepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
        // $( "#id_birth_date" ).timepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
        $( "#id_birth_date" ).datepicker({ dateFormat: 'yy-mm-dd' }).attr("autocomplete", "off") ;
    });
  </script>
  <!-- Date Time Picker JS -->

  <!-- Phone Mask JS -->
  <script src="{% static 'dashboard/date-time-phone/jquery-input-mask-phone-number.min.js' %}"></script> 

  <script>
    //(xxx) xxx-xxxx format code
    $(document).ready(function () {
        $('#id_phone_number').usPhoneFormat({
            format: '(xxx) xxx-xxxx',
        });   
    });
  </script>
  <!-- Phone Mask JS -->

</body>

</html>